<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="clubit_tools_edi_flow_1" model="clubit.tools.edi.flow">
            <field name="name">Purchase Order(out)</field>
            <field name="direction">out</field>
            <field name="model">purchase.order</field>
            <field name="method">send_edi_out</field>
            <field name="partner_resolver">edi_partner_resolver</field>
        </record>

		<record id="edi_thr_product_master_in" model="clubit.tools.edi.flow">
			<field name="name">Product(in)</field>
			<field name="direction">in</field>
			<field name="model">product.product</field>
			<field name="method">edi_import_thr</field>
		</record>
		<record id="edi_thr_product_pricing_in" model="clubit.tools.edi.flow">
			<field name="name">Pricing(in)</field>
			<field name="direction">in</field>
			<field name="model">product.product</field>
			<field name="method">edi_import_pricing</field>
		</record>
		<record id="edi_thr_product_availability_in" model="clubit.tools.edi.flow">
			<field name="name">Availability(in)</field>
			<field name="direction">in</field>
			<field name="model">product.product</field>
			<field name="method">edi_import_availability</field>
		</record>

		<record id="edi_spree_sale_order_in" model="clubit.tools.edi.flow">
			<field name="name">Sale Order(in)</field>
			<field name="direction">in</field>
			<field name="model">sale.order</field>
			<field name="method">edi_import_spree</field>
			<field name="validator">edi_import_validator</field>
		</record>

		<record id="edi_payment_term1" model="account.payment.term">
			<field name="active">TRUE</field>
			<field name="note">Overschrijving</field>
			<field name="name">Overschrijving</field>
		</record>
		<record id="edi_payment_term2" model="account.payment.term">
			<field name="active">TRUE</field>
			<field name="note">Elektronische betaling</field>
			<field name="name">Elektronische betaling</field>
		</record>
		<record id="edi_helpdesk_reference1" model="res.request.link">
			<field name="priority">5</field>
			<field name="object">clubit.tools.edi.document.incoming</field>
			<field name="name">EDI Incoming</field>
		</record>
		<record id="edi_helpdesk_reference2" model="res.request.link">
			<field name="priority">5</field>
			<field name="object">clubit.tools.edi.document.outgoing</field>
			<field name="name">EDI Outgoing</field>
		</record>



        <record id="webdust_handig_nl" model="res.partner">
            <field name="name">Handig.nl</field>
        </record>
        <record id="webdust_handig_be" model="res.partner">
            <field name="name">Handig.be</field>
        </record>
        <menuitem groups="clubit_tools.clubit_tools_edi_user"
            id="menu_webdust_product" name="Products" parent="clubit_tools.menu_clubit_tools"/>
        <menuitem action="action_thr_product_combined"
            groups="clubit_tools.clubit_tools_edi_user"
            id="menu_thr_product_combined" parent="menu_webdust_product"/>
        <menuitem action="action_thr_masterdata"
            groups="clubit_tools.clubit_tools_edi_user"
            id="menu_thr_masterdata" parent="menu_webdust_product"/>
    </data>
</openerp>
