<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="webdust_edi_settings_form" model="ir.ui.view">
            <field name="name">webdust.edi.settings.form</field>
            <field name="model">clubit.tools.settings</field>
            <field name="inherit_id" ref="clubit_tools.clubit_tools_settings_form"/>
            <field name="arch" type="xml">
                <field name="connections" position="after">
                    <separator string="Taxes"/>
                    <group>
                        <field domain="[('type_tax_use','=','sale')]" name="sale_high_tax_id"/>
                        <field domain="[('type_tax_use','=','sale')]" name="sale_low_tax_id"/>
                        <field
                            domain="[('type_tax_use','=','purchase')]" name="purchase_high_tax_id"/>
                        <field
                            domain="[('type_tax_use','=','purchase')]" name="purchase_low_tax_id"/>
                    </group>
                </field>
            </field>
        </record>
    </data>
</openerp>
